body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(36, 31, 35);
}

/* 744 × 752 */
img {
  /* width: 100%; */
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 1;
}

svg {
  /* width: 100%; */
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 1;
  /* background: rgb(206, 201, 151); */
}

svg text {
  fill: white;
}

svg .coordinates.hide {
  display: none;
}

img {
  /* display: none; */
}

